*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background: #FF6B35;
}

h1{
  font-size: 3rem;
  margin-top: 2rem;
}

.container{
  height: 70vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  font-size: 12vmin;
  color: #ff1100;
  background-color: #fcb69c;
}

#reset{
  padding: 1rem;
  font-size: 1.25rem;
  background:black;
  color: white;
  border: none;
  border-radius: 1rem;
}


#newgame{
  padding: 1rem;
  font-size: 1.25rem;
  background:black;
  color: white;
  border: none;
  border-radius: 1rem;
}

#msg{
  font-size: 2.5rem;
  color: #fff;
}

.msgcon{
  height: 100vmin;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.hide{
  display: none;
}
button:focus {
  outline: 2px solid #000;
}
